body {
    font-family: "Merriweather", Georgia, serif;
}

.main {
    width: 750px;
    margin: 0 auto;
    background: skyblue;
    border-radius: 5px;
    padding: 20px;
}

h2 {
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
}